<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div  id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div   class="carousel-inner" >
          <div class="carousel-item active">
            <img src="https://flexi.shoes/blog/wp-content/uploads/sites/7/2018/11/zapatos-para-trabajar-de-hombre.jpg" height="750px" class="d-block w-100" style="margin-top: 0ex; "  alt="...">
            <div class="carousel-caption d-none d-md-block">                
              <h3 style="color: black;">Solo aqui, podrás encontrarlos</h3>
              <p style="color: black;">Los ultimos modelos de la temporada</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.raymusgo.com/uploads/3/8/2/0/38202603/ray-musgo-zenit-vino-grande-web_orig.jpg"  height="750px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color: black;" >Los modelos mas elegantes en Calzado para damas</h5>
              <p style="color: black";>Modelos para todo tipo de ocacion solo aquí</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://s3.amazonaws.com/imagenes-sellers-mercado-ripley/2019/06/24155511/Camilo-Azul-Marino-01.jpg" height="750px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color: black;">Zapatos para niños</h5>
              <p style="color: black;">Contamos con la mejor variedad en zapatos para niños de todas las edades</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        <div style="background-color:white;" > 
       <img src="https://cdn.discordapp.com/attachments/758089034944872489/777016149464449034/unknown.png"  class="img-fluid;" alt="Responsive image" style="height: 280px;position:relative;left:270px "> 
      </div>
      <hr>
      <h1><p style="position:relative;left:400px;" class="text-danger">Nuestros Empleados del mes </p></h1>
    <br>
     <div class="container" style="position:relative;left:100px">
  <div class="row">
    
    <div class="col-sm" s>
      <img src="https://yt3.ggpht.com/ytc/AAUvwngdhY_xfAwbZeKIgiHT-zL6n71LIOG5wh-I_rQ3GA=s900-c-k-c0x00ffffff-no-rj" alt="..." class="rounded-circle" style="height: 250px; width: 250px;">
      <p>Faraon Love shady</p>
      <h5>Empleado destacado gracias a su <br> gran desempeño en el area de <br> atencion al cliente</h5>
      
    </div>
    <div class="col-sm-">
     <img src=" https://rytmusapp.com/wp-content/uploads/2019/08/michael-jackson-1080x675.jpg" alt="..." class="rounded-circle" style="height: 250px; width: 250px;">
     <p>Michael Berrocal</p>
     <h5>Empleado destacado gracias a su <br> gran desempeño en el area de <br> atencion al cliente</h5>
    </div>
  </div>

<br><br><br>
<div class="container">
    <h2 style="position:relative;left:300px ">Nuestras Marcas</h2>
    <br><br>
  <div class="row">
    <div class="col-sm">
      <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2019/03/0008_h_street-shoes-logo_13.png" style="height:100px; width=100px;" alt="..." class="rounded">
    </div>
    <div class="col-sm">
      <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2019/03/0008_t_nike-logo.png" style="height:100px; width=100px;" alt="..." class="rounded">
    </div>
    <div class="col-sm">
      <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2019/03/0008_t_modini-shoes-logo_9.png" style="height:100px; width=1000px;" alt="..." class="rounded">
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
     Hola
    </div>
  </div>
</div>








</div>
      </div>
    </div>
  </div>
    
</body>
</html>